# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# IDE settings
.vscode/
.idea/

# Environment variables
.env

# Local development settings
*.log
.DS_Store

# PyInstaller
build/
dist/
*.spec

# Distribution / packaging
*.toc
*.pyz
*.pyc
warn-*.txt
xref-*.html
base_library.zip
*.egg-info/
.installed.cfg
*.egg

# System Files
Thumbs.db
